bleach==1.5.0
certifi==2020.6.20
chardet==3.0.4
cnocr==1.2.2
cycler==0.10.0
Cython==0.29.21
enum34==1.1.10
fuzzywuzzy==0.18.0
gluoncv==0.6.0
graphviz==0.8.4
html5lib==0.9999999
idna
kiwisolver
Markdown==3.2.2
matplotlib
mxnet==1.6.0
numpy==1.19.5
opencv-python
Pillow==7.2.0
portalocker==2.0.0
protobuf==3.13.0
pyparsing==2.4.7
python-dateutil==2.8.1
requests
scipy
six
tensorflow-gpu==1.10.0
tensorflow-tensorboard
tqdm==4.50.0
urllib3
Werkzeug==1.0.1